*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

:root{
  --gray-50:#f9fafb;
  --gray-300: #d4d4d8;
  --gray-400:#9ca3af;
  --gray-500: #6b7280;
  --gray-600: #52525b;
  --gray-700:#3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;

 

}
*:focus{
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green-400);
}

body{
  background: var(--gray-900);
  color: var(--gray-50);
  -webkit-font-smoothing: antialiased;
}

body, input, select, textarea, button{
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight:400;
  font-size:1rem;
}
