:root{
  --gray-50:#f9fafb;
  --gray-300: #d4d4d8;
  --gray-400:#9ca3af;
  --gray-800: #27272a;
  --gray-900: #18181b;
}

body{
  background: var(--gray-900);
  color: var(--gray-50);
  -webkit-font-smoothing: antialiased;
}

body, input, select, textarea{
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight:400;
  font-size:1rem;
}